:root {
    --font: "Play", serif;
    --main-color : rgba(159, 74, 199, 0.529);
    --font-btn : "Tektur", serif;
    --anim_font : "Exo 2", serif;
    --color-btn : radial-gradient(circle, rgba(183,0,255) 0%, rgb(104, 0, 149) 75%); 
  }

body {
    position: fixed; 
    width: 100%;
    height: 100%;
    background: black; /* Сначала задаем черный фон */
    opacity: 1; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 0; 
    padding: 0; 
    z-index: -1; 
}

body::before {
    content: '';
    background: url('assests/bg.gif') no-repeat; 
    background-size: cover; 
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2; 
}


.btn_with_photo {
    font-family:  var(--font-btn);
    background-image: var(--color-btn);
    border:2px solid white;
    background-size: 200% auto;
    border-radius:20px;
    font-size: 15px;
    box-shadow: 0 0 10px rgba(164, 164, 164, 0.834);
    color:white;
    display: inline-block;
    white-space: nowrap;
    padding: 10px;
    margin: 7px;
}

.art {
    text-align: center;
    border: 2px solid white;
    background:var(--main-color) ;
    width: 400px;
    height: 180px;
    padding: 20px;
    margin: 20px;
    border-radius: 30px;
}

.image-container {
    width: 220px; 
    height: 220px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin: 0 auto; 
    border-radius: 50%; 
    overflow: hidden; 
}

.main {
    border: 5px solid white;
    width: 500px;
    backdrop-filter: blur(5px);
    background-color: var(--main-color);
    padding: 20px; 
    border-radius: 30px; 
    margin: 10px;
    height: 90%;
}


.image-container {
    box-shadow: 0 0px 20px rgb(255, 255, 255); 
}

img {
    max-width: 100%; 
    max-height: 100%; 
    object-fit: cover;  
}


#animka {
    text-align: center;
    font-family: var(--anim_font);
    -webkit-text-stroke: 1px rgb(255, 255, 255);
}

h1 {
    text-align: center;
    font-family: var(--font);
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    font-size:40px;
    font-weight: 400;
    color:rgb(255, 255, 255)
}


.btn_with_photo:hover {
    box-shadow: 0 0 30px rgb(255, 255, 255);
}



@media screen and (max-width: 720px) {


    body {
        background: rgb(75, 1, 128);
    }

    body::before {
        content: none;
    }
    .art {
        width: 200px;
        height: 60%;
        margin: 1px auto;
    }

    .main {
        width: 80%;
        height: 90%;
    }

    h1 {
        font-size: 28px;
    }

    .image-container {
        width: 150px;
        height: 150px;
    }

    .image-container img {
        max-width: 100%;
        max-height: 100%;
    }

    .btn_with_photo {
        font-size: 16px;
        padding: 15px;
        margin: 10px;
    }
    #animka {
        text-align: center;
        font-family: var(--anim_font);
        -webkit-text-stroke: 1px rgb(255, 255, 255);
    }
}
@media screen and (max-width: 650px) {
    .btn_with_photo {
        font-size: 11px;
        padding: 7px;
        margin: 5px;
    }
    .art {
        width: 200px;
        height: 45%;
        margin: 1px auto;
    }
}
